* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1593693044238-f14e5b164e75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1289&q=80);
}

@keyframes move {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

.car-1 {
    width: 25%;
    margin-top: 40px;
    margin-left: 200px;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.car-2 {
    width: 20%;
    margin-top: 100px;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}